email_template:
  ticket_no : "working_ticket_one"
  to : "working_template@turing.ac.uk"
  cc : null
  subject : Request for {{ working_email_subject }}
  body : |
   "Dear Tester,

    I have {{ working_email_body }} all day long.

    Regards,
    pytest
    "
