email_template:
  to : "malformed_template@turing.ac.uk"
  cc : None
  subject : Missing curly bracket {{ malformed_email_subject } in my subject
  body : |
   "Help!

    '{{ malformed_email_body }}'

    Desperately,
    pytest
    "
